@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
body {
    background-color: #E5E5E5;
    
}

.topo{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    padding: 20px 30px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 10px 0px 10px rgb(151, 149, 149);
}
.topo img:first-child{
    width: 75px;
    height: 53px;
}
.topo img:last-child{
    width: 42px;
    height: 31px;
}
.topo img:last-child:hover{
    cursor: pointer;
}
.container {
    margin: 120px auto;
}
.entrada{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    padding: 10px;
    margin: 5px auto;
    display: flex;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    
}
.entrada strong {
    font-weight: bold;
}
.entrada .horario {
    margin: 5px;
    color: #aaaaaa;
}
.status {
    background-color: #DCDCDC;
}
.message {
    background-color: #FFFFFF;
}
.private_message {
    background-color: #FFDEDE;
}
.footer {
    display: flex;
    align-items: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #FFFFFF;
    position: fixed;
    left: 0;
    bottom: 0;

}
.footer div {
    width: 100%;
}
.footer h2{
    padding-left: 15px;
    padding-bottom: 15px;
}
.footer img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.footer img:hover{
    cursor: pointer;
}
input {
    font-family: 'Roboto', sans-serif;
    
    font-size: 18px;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    border: none;
}
input:focus {
    outline: none;
}
::placeholder {
    font-style: italic;
    color: black;
}

/* menu lateral */

.plano-de-fundo02{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color:rgba(0,0,0,0.5);
}
.menu-lateral {
    top: 0;
    right: 0;
    z-index: 1;
    position: fixed;
    width: 70%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 1;
}
.sumir {
    display: none;
}
.menu-lateral{
    overflow: auto;
}

.menu-lateral h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.menu-lateral h2{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.participantes img, .visibilidade img {
    width: auto;
    height: 25px;
    margin-right: 20px;
}
li {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    align-items: center;
}
.menu-lateral div:nth-child(1){
    width: 259px;
    height: 84px;
    text-align: center;
    margin: 30px auto;
    padding: 30px 0;
}
.visibilidade h1 {
    text-align: center;
}
ul {
    padding-left: 30px;
}